# Dependencies
node_modules

# Production build
dist

# Environment variables
.env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local


# Uploaded files
uploads/*
!uploads/.gitkeep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
.DS_Store?
._*

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# Prisma migrations (uncomment if you want to ignore migrations)
# prisma/migrations

# Testing
coverage
.nyc_output

# Temporary files
tmp
temp
*.tmp
